/* Stile generale del menu */
.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 10%;
  z-index: 1000;
  background: linear-gradient(to bottom, rgb(51, 51, 51) 0%, rgba(0, 0, 0, 0.68) 50%, rgba(88, 89, 94, 0.13) 100%);
}

#logo {
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 2px 1px #0000009e);
  margin-right: 1%;
  transform: scaleX(-1);
}

.titolo-container {
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 20%;
}

.sottotitolo {
  color: #fff;
  text-shadow: 0 0 1px rgb(0, 0, 0);
  font-family: 'Sacramento', cursive;
  font-size: xx-large;
}

.titolo,
.titolo1 {
  color: #fff;
  text-shadow: 0 0 4px rgba(250, 247, 247, 0.767);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-left: 5%;
  font-size: larger;
}

.titolo1 {
  color: #eb2c2c;
}

#icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 50px;
}

.menu-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.63) 0%, rgb(89, 198, 96) 50%, rgba(51, 51, 51, 0.63) 100%);
  position: absolute;
  top: 60px;
  width: 96%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  border-radius: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.menu-li {
  padding: 15px;
  text-align: center;
}

.menu-li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.show-menu {
  transform: translateY(13%);
  z-index: 100;
}

#percorsi {
  max-width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 90%, 79% 100%, 79% 75%, 0% 75%);
}

@media screen and (max-width: 1035px) {

}

@media screen and (max-width: 650px) {

  
  #icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .sottotitolo {
    font-size: revert;
  }

  .titolo,
  .titolo1 {
    font-size: smaller;
  }
}

@media screen and (max-width: 560px) {
  #logo {
    height: 63%;
    object-fit: cover;
    filter: drop-shadow(1px 2px 1px #0000009e);
    margin-right: 5%;
    transform: scaleX(-1);
    margin-top: -5%;
  }
  

  .sottotitolo {
    position: absolute;
    left: 25%;
    right: 25%;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-family: 'Sacramento', cursive;
    top: 1.2%;
  }

  .menu-nav {
    background: linear-gradient(to bottom, rgb(51, 51, 51) 0%, rgba(0, 0, 0, 0) 50%, rgba(250, 251, 255, 0) 100%);
  }
  
  .titolo {
    position: absolute;
    left: 25%;
    z-index: 1;
    color: #898ad2;
    text-shadow: 0 0 4px rgba(250, 247, 247, 0.767);
    font-family: "Montserrat", sans-serif;
    top: 50%;
    font-size: smaller;
    font-weight: 900;
  }
  
  .titolo1 {
    z-index: 1;
    color: #eb2c2c;
    text-shadow: 0 0 4px rgba(250, 247, 247, 0.767);
    font-family: "Montserrat", sans-serif;
    font-size: smaller;
    position: absolute;
    left: 60%;
  }
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
  margin: 2%;
}

p {
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.scrolling-text {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(-70%);
  }
}

#cityAnimation {
  margin-left: 10px;
}
@media screen and (max-width: 480px) {

  .sottotitolo {
    font-size: larger; /* Riduci la dimensione del sottotitolo per adattarlo meglio ai dispositivi mobili */
  }
.titolo{
  left: 22%;
}

}
