/* Stile generale del menu */
.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient( to bottom, rgb(51, 51, 51) 0%, rgba(0, 0, 0, 0) 50%, rgba(250, 251, 255, 0) 100%);

  position: fixed;
  /* Cambia da 'absolute' a 'fixed' */
  width: 100%;
  top: 0;
  /* Assicura che la navbar sia posizionata in alto */
  left: 0;
  height: 10%;
  z-index: 1000;
}


/* .menu-div-icona {
  cursor: pointer;
} */

#icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
}



/* Stile della lista del menu */
.menu-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient( to right, rgba(51, 51, 51, 0.63) 0%, rgb(89, 198, 96) 50%, rgba(51, 51, 51, 0.63) 100%);
  position: absolute;
  top: 60px;
  left: 0;
  width: 96%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  border-radius: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.menu-li {
  padding: 15px;
  text-align: center;

}

.menu-li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  
}

.menu-li a {
  color:#ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* Aggiunge la classe show-menu per visualizzare il menu quando è aperto */
.show-menu {
  transform: translateY(13%);
  z-index: 100;
}




@media screen and (max-width: 435px) {


  .sottotitolo {
    position: absolute;
    left: 25%;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-family: 'Sacramento', cursive;
    top: 1.2%;
  }

  .titolo {
    position: absolute;
    /* togliere l'effetto scomparsa sul titolo */
    left: 27%;
    z-index: 1;
    color: #898ad2;
    text-shadow: 0 0 4px rgba(250, 247, 247, 0.767);
    font-family: "Montserrat", sans-serif;
    top: 50%;
    font-size: smaller;
    font-weight: 900;
  }

  #logo {
    height: 63%;
    object-fit: cover;
    filter: drop-shadow(1px 2px 1px #0000009e);
    margin-right: 1%;
    transform: scaleX(-1);
    margin-top: -5%;
  }

  #percorsi {
    max-width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 90%, 79% 100%, 79% 75%, 0% 75%);
  }
}







footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
  margin: 2%;
}
p{
  color: #fff;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.scrolling-text {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(90%);
  }

  100% {
    transform: translateX(-70%);
  }
}

.titolo-container {
  display: flex;
  align-items: center; /* Allinea verticalmente */
}
#cityAnimation {
  margin-left: 10px; /* Aggiunge un margine a sinistra per separare il titolo dalla città */
}
.titolo1{
  z-index: 1;
    color: #eb2c2c;
    text-shadow: 0 0 4px rgba(250, 247, 247, 0.767);
    font-family: "Montserrat", sans-serif;
    font-size: smaller;
    position: absolute;
   
    left: 60%;
}