<nav class="menu-nav">
    <div class="menu-div-icona" (click)="menuclick()">
        <img [src]="menuIconSrc" alt="Menu Icona" id="icon">
    </div>
    <h2 class="sottotitolo">Dott.ssa Ilaria Carlino</h2>
    <h1 class="titolo">Psicologa e Psicoterapeuta</h1>
    <img src="assets/logo.webp" alt="Menu Icona" id="logo">
    <ul class="menu-ul" *ngIf="isMenuOpen" [class.show-menu]="isMenuOpen">
        <li class="menu-li"><a routerLink="/" (click)="closeMenu()">Informazioni Professionali</a></li>
        <li class="menu-li"><a routerLink="/Servizi-individuali" (click)="closeMenu()">Attività & Servizi</a></li>
        <li class="menu-li"><a routerLink="/Contatti" (click)="closeMenu()">Contatti</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
<div class="scrolling-text-container">
    <div class="scrolling-text">
        <h3>Da oggi Colloqui Online dal lun al sab 10 alle 21</h3>
    </div>
</div>
<footer>
    <div class="progetti">
        <a href="https://www.vetrinainformatica.it" target="_blank">
        <p>&copy; 2024 Sviluppo Web Vetrina Informatica. Tutti i diritti riservati.</p>
    </a>
    </div>
</footer>