<div class="full-height-container">
    <h2 id="elementId" [ngStyle]="getAnimationStyle()">" Libertà e consapevolezza per vivere con totalità "</h2>
    <img id="presentazione" src="assets/presentazione.webp" alt="Immagine di sicurezza informatica">
</div>
<button class="button" (click)="toggleText()">
    Per saperne di più
    <img src="assets/arrow1.webp" alt="Menu Icona" id="freccia2" [class.rotated]="isRotated">
</button>

<div *ngIf="isTextVisible" class="additional-text">
    <div class="profile-info">
        <img src="assets/profilo.webp" alt="Menu Icona" class="professional-profile-img">
        <div class="profile-container">
            <div class="profile-card">
                <h1 class="profile-title">La Dott.ssa Ilaria Carlino: Esperta in Psicologia e Benessere</h1>
                <p class="profile-description">
                    Sono Ilaria Carlino, psicologa abilitata e iscritta all'Ordine degli Psicologi della Puglia con
                    n.6694, esperta in valutazione e riabilitazione neuro-cognitiva; ho terminato il Training in
                    "Neuropsicosomatica clinica" e sono in formazione come psicoterapeuta ad approccio
                    umanistico psico-corporeo.

                </p>
            </div>

            <div class="accordion">
                <button class="accordion-btn" (click)="toggleText1()"
                    [ngClass]="{'colored-text': isText1Colored}">Formazione Accademica</button>
                <div class="accordion-content" [class.show]="isTextVisible1">
                    <p>
                        La mia formazione psicologica è iniziata nel 2012, anno in cui ho avviato il mio percorso di
                        studi presso l'Università degli Studi della Campania "Luigi Vanvitelli" (dove ho conseguito
                        anche la laurea magistrale in "Psicologia clinica" nel 2018). Dopo la laurea, ho deciso di
                        trasferirmi in provincia di Torino, dove ho svolto un breve periodo di tirocinio presso Area
                        onlus, conseguendo anche il master in "Psicodiagnosi dell'età evolutiva" con l'Accademia del
                        test proiettivo; ho svolto poi il tirocinio post-laurea nel Servizio di Psicologia dell'età
                        evolutiva dell'ASL di Nichelino (TO). Poco prima dell'inizio della pandemia, ho scelto di
                        tornare nella mia terra natìa, la Puglia, dove ho conseguito il Master universitario di II
                        livello in "Esperto in valutazione e riabilitazione neurocognitiva per l'età evolutiva, l'adulto
                        e l'anziano", presso l'Università del Salento. Ho poi vinto una borsa di studio e ricerca in
                        "Disabilità e accessibilità delle strutture universitarie e degli spazi urbani" presso
                        l'Università degli Studi di Bari Aldo Moro, nell'ambito del progetto "Puglia Regione
                        Universitaria". Attualmente sono in formazione nella scuola di psicoterapia umanistica
                        psicocorporea dell'istituto IUP.

                    </p>
                </div>

                <button class="accordion-btn" (click)="toggleText2()"
                    [ngClass]="{'colored-text': isText2Colored}">Specializzazioni e Corsi Complementari</button>
                <div class="accordion-content" [class.show]="isTextVisible2">

                    <p>
                        Parallelamente al corso di laurea in "Scienze e tecniche psicologiche", ho iniziato a
                        frequentare un percorso di crescita personale presso il Villaggio Globale di Bagni di Lucca,
                        conseguendo poi il Master in "Neuropsicosomatica e Mindfulness". Inoltre, ho messo a frutto la
                        mia passione per lo sport, conseguendo il titolo di Allenatore di pallavolo FIPAV, quello di
                        Animatore sportivo e quello di Istruttore sportivo di base presso il CONI. La mia formazione si
                        è ancora arricchita grazie all'interesse per i giochi da tavolo, portandomi a conseguire il
                        titolo di Game Trainer, presso Edizioni Centro Studi Erickson. Sono inoltre operatrice formata
                        per svolgere il Progetto Gaia, con individui, gruppi e aziende.

                    </p>
                </div>

                <button class="accordion-btn" (click)="toggleText3()"
                    [ngClass]="{'colored-text': isText3Colored}">Impegno Sociale e Professionale</button>
                <div class="accordion-content" [class.show]="isTextVisible3">

                    <p> La mia esperienza professionale nel campo psico-educativo è iniziata durante gli anni di studio,
                        quando mi sono occupata dell'organizzazione e messa in atto di attività sportive per bambini
                        normodotati e con disabilità intellettivo - relazionale. Successivamente, ho lavorato come
                        insegnante di sostegno presso Le scuole dell'Arca di Pianezza (TO). Dopo l'abilitazione
                        professionale, ho lavorato come psicologa presso due centri diurni di Bari: L'Abbraccio Bari e
                        Centro Diurno Alzheimer Insieme, effettuando valutazioni neuropsicologiche e del comportamento
                        adattivo, colloqui con utenti e famiglie, programmi di stimolazione cognitiva e supervisionando
                        le attività educative. Gradualmente ho avviato l'attività privata nella città di Veglie (LE),
                        collaborando con Spazio Arcobaleno Lecce e portando avanti progetti di benessere psicologico e
                        progetti educativi con minori in diversi centri culturali e scuole.</p>
                </div>
            </div>
        </div>
    </div>