<div class="copertina full-height-container">
    <img id="presentazione" src="assets/presentazione2.webp" alt="Immagine di sicurezza informatica">
    <button class="button-top-left" (click)="mostraServizi1()" >Visualizza Servizi</button>

    <div id="servizi-individuali">
        <div class="inserto" >
            <h2 class="inserto2">Servizi individuali</h2>
            <img src="assets/dottore.webp" alt="Menu Icona" id="loghino">
        </div>

        <div class="percorsi">
            <img src="assets/percorsi.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Percorsi di sostegno psicologico per minori</h2>
            <h4 class="padding">Incontri basati sul gioco e la condivisione verbale idonea all'età volti a sostenere
                l'espressione emotica e le esigenze del minore.Promuovendo la possibilità di migliorare le sue
                intenzioni
                con
                genitori e pari </h4>
        </div>
        <div class="percorsi">
            <img src="assets/ufficio.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Colloqui psicologici individuali con adulti</h2>
            <h4 class="padding">Incontri volti a comprendere quale sia l'esigenza e/o problematica vissuta, fissare e
                perseguire
                degli obbiettivi comuni in un luogo sicuro e privo di giudizio. </h4>
        </div>
        <div class="percorsi">
            <img src="assets/ufficio2.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Sostegno alla genitorietà e Parent training</h2>
            <h4 class="padding">Incontri individuali o possibilmente di coppia, mirati a sostenere il ruolo genitoriale,
                favorendo risposte adattive ai bisogni educativi e affettivi di adulti e bambini della famiglia.</h4>
        </div>
        <div class="percorsi">
            <img src="assets/gruppo.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Valutazione e riabilitazione neurocognitiva per tutte le età</h2>
            <h4 class="padding">Esame delle funzioni psicologiche, neuro psicologiche e cognitive "DSA", "ADHD",
                malattie
                neuro
                degenerative, esiti di traumi cranici... della persona interessata, effettuato tramite colloquio e/o
                test
                diagnostici validati dalla ricerca che esita in una relazione scritta.</h4>
        </div>
    </div>
    <button class="button-bottom-right" (click)="mostraServizi2()">Servizi di gruppo</button>

    <div>
        <div class="inserto3" id="servizi-gruppo">
            <h2 class="inserto4">Servizi di gruppo</h2>
            <img src="assets/foresta.webp" alt="Menu Icona" id="log">
        </div>

        <div class="percorsi">
            <img src="assets/gruppo.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Gruppi di meditazione e consapevolezza psico-corporea</h2>
            <h4 class="padding">Rallenta il ritmo frenetico della vita quotidiana e immergiti nella pratica della
                meditazione e
                della consapevolezza psico-corporea. Trova serenità e equilibrio nel nostro accogliente ambiente di
                gruppo.
            </h4>
        </div>
        <div class="percorsi">
            <img src="assets/profilo2.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Percorsi di crescita personale individuali e di gruppo</h2>
            <h4 class="padding">Entra in un viaggio di auto-esplorazione e trasformazione con i nostri percorsi di
                crescita
                personale. Siamo qui per aiutarti a superare gli ostacoli e a raggiungere i tuoi obiettivi più
                ambiziosi.
            </h4>
        </div>
        <div class="percorsi">
            <img src="assets/montagne.webp" alt="Menu Icona" id="percorsi">
            <h2 class="h2">Sessioni di Mindfulness e Relaxation</h2>
            <h4 class="padding">Scopri il potere trasformativo della mindfulness e del rilassamento. Partecipa alle
                nostre
                sessioni guidate per ridurre lo stress, migliorare la concentrazione e promuovere il benessere generale.
            </h4>
        </div>
    </div>
    <button class="button-bottom" (click)="mostraServizi3()"> nonn so ancora cosa </button>
    <div>
        <div class="inserto3" id="servizi-gruppo">
            <h2 class="inserto4">Colloqui Online</h2>
            <img src="assets/foresta.webp" alt="Menu Icona" id="log">
        </div>

    </div>
</div>