<div class="copertina full-height-container">
    <img id="presentazione" src="assets/presentazione2.webp" alt="Immagine di sicurezza informatica">
    <div class="testoTitolo">
        <h2>Seleziona un servizio</h2>
        <button class="button button-top-left" (click)="mostraServizi1()">Sostegno psicologico e crescita
            personale</button>
        <button class="button button-bottom-right" (click)="mostraServizi2()">Incontri di gruppo</button>
        <button class="button button-bottom" (click)="mostraServizi3()">Valutazioni psicodiagnostiche e riabilitazione
            neurocognitiva</button>
    </div>
</div>

<div id="servizi-individuali">
    <div class="inserto">

        <h2 class="inserto2">Sostegno psicologico e crescita personale</h2>
        <img src="assets/dottore.webp" alt="Menu Icona" id="loghino">
    </div>

    <div class="percorsi">
        <img src="assets/ufficio.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Sedute di sostegno psicologico per adulti</h2>
            <h4 class="padding">Incontri individuali volti a comprendere quale sia l'esigenza e/o problematica vissuta,
                fissare e perseguire degli obiettivi comuni in un luogo sicuro e privo di giudizio, fronteggiare ansia e
                stress, disturbi psicosomatici, difficoltà emotive... </h4>
        </div>
    </div>
    <div class="percorsi">

        <img src="assets/percorsi.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Sedute di sostegno psicologico per adolescenti</h2>
            <h4 class="padding">Incontri individuali che mirano a sostenere il giovane nel suo percorso di crescita
                verso l'età adulta, imparando a gestire ed esprimere le proprie emozioni e i propri bisogni in accordo
                con le nuove esigenze di questa fase di vita: una ricerca di maggiore autonomia, preservando il sostegno
                delle figure adulte di riferimento (genitori, insegnanti ecc.).</h4>
        </div>
    </div>
    <div class="percorsi">
        <img src="assets/ufficio2.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Sedute di sostegno psicologico per bambini</h2>
            <h4 class="padding">Incontri rivolti a minori che vivono un disagio emotivo o un periodo di particolare
                difficoltà (problemi di autoregolazione emotiva, ansia, oppositività, disturbi del sonno o
                dell’alimentazione e difficoltà eccessive a separarsi dai genitori, disagi, paure, chiusura
                relazionale). Attraverso il gioco e/o l'espressione grafica, si favorisce l'accesso al mondo interiore,
                permettendo al bambino di esprimere in modo indiretto i propri vissuti e di giungere alla comprensione
                delle esigenze emotive. Il percorso prende avvio con uno o più incontri con i genitori, per identificare
                il motivo della richiesta e per comprendere meglio le abitudini del bambino. Gli incontri successivi
                potranno essere svolti solo con il bambino o con tutto il nucleo familiare, a seconda delle
                specifiche richieste.</h4>
        </div>
    </div>
    <div class="percorsi">
        <img src="assets/gruppo.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <!-- <h2 class="h2">Valutazione e riabilitazione neurocognitiva per tutte le età</h2>
            <h4 class="padding">Esame delle funzioni psicologiche, neuro psicologiche e cognitive "DSA", "ADHD",
                malattie
                neuro
                degenerative, esiti di traumi cranici... della persona interessata, effettuato tramite colloquio e/o
                test
                diagnostici validati dalla ricerca che esita in una relazione scritta.</h4> -->
            <h2 class="h2">Sostegno alla genitorialità e Parent training</h2>
            <h4 class="padding">Percorsi rivolti a coppie o singoli genitori che desiderano acquisire o migliorare le
                competenze necessarie a prendersi cura del proprio figlio, al fine di promuoverne lo sviluppo fisico,
                emotivo, intellettivo, normativo e sociale. In particolare, i percorsi mirano a sviluppare conoscenze
                relative al processo di crescita, alle difficoltà dello sviluppo, ai passaggi significativi che il
                giovane vive, favorendo la comunicazione, l'osservazione, l'ascolto e la relazione in famiglia.</h4>

        </div>
    </div>
    <div class="percorsi">
        <img src="assets/gruppo.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Percorsi di crescita personale</h2>
            <h4 class="padding">Percorso individuale focalizzato su diversi ambiti di vita, che favorisce il contatto
                con la propria interiorità, la conoscenza di sé e delle proprie emozioni, promuovendo l'accettazione di
                se stessi, la definizione e il perseguimento dei propri obiettivi.</h4>
        </div>
    </div>
</div>


<div>
    <div class="inserto" id="servizi-gruppo">
        <h2 class="inserto2">Incontri di gruppo</h2>
        <img src="assets/foresta.webp" alt="Menu Icona" id="loghino">
    </div>

    <div class="percorsi">
        <img src="assets/gruppo.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Gruppi di meditazione e pratiche di consapevolezza psico-corporea</h2>
            <h4 class="padding">Incontri volti ad educare alla consapevolezza e alla salute, al fine di migliorare il
                benessere psicofisico attivando le risorse personali e promuovendo la fiducia in se stessi, così da
                relazionarsi in modo positivo con gli altri. Le basi sono quelle indicate dalle linee guida del
                Protocollo Mindfulness Psicosomatica, realizzato dal Villaggio Globale di Bagni di Lucca e applicato a
                livello nazionale con risultati scientifici dimostrati; tale programma è stato approvato dal Ministero
                del Lavoro e delle Politiche Sociali e dal Ministero dell'Istruzione, Università e Ricerca con il nome
                di "Progetto Gaia". Si pratica la meditazione (mindfulness) come principale esperienza di consapevolezza
                di Sé, affiancata a pratiche di benessere psicosomatico, volte ad allentare le tensioni neuro-muscolari
                (primo sintomo di stress), favorire l'espressione e condivisione delle emozioni e migliorare la
                comprensione di se stessi e degli altri.
            </h4>
        </div>
    </div>
    <div class="percorsi">
        <img src="assets/profilo2.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Gruppi di crescita personale</h2>
            <h4 class="padding">Gruppi esperienziali in cui i partecipanti lavorano insieme per migliorare se stessi e
                raggiungere i propri obiettivi personali. Ogni gruppo può essere incentrato su specifiche tematiche
                (relazioni, emozioni, salute, potere personale, autostima ecc.), che vengono affrontate combinando la
                condivisione verbale e la discussione con pratiche di conoscenza e consapevolezza di Sé.
            </h4>
        </div>
    </div>
    <div class="percorsi">
        <img src="assets/montagne.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Gruppi di accompagnamento alla nascita consapevole (pre e post parto)</h2>
            <h4 class="padding">Gruppi dedicati a neo-mamme e neo-papà, che mirano a ridurre lo stress e l’ansia che
                possono incidere negativamente sulla salute del neonato. Attraverso le pratiche corporee, emozionali,
                psicologiche e di consapevolezza di Sé del Protocollo Mindfulness Psicosomatica (PMP), è possibile
                migliorare la salute psicofisica della famiglia, promuovendo l'empatia nella relazione e contribuendo
                così ad uno sviluppo più sereno e positivo.
            </h4>
        </div>
    </div>
    <div class="percorsi">
        <img src="assets/montagne.webp" alt="Menu Icona" id="percorsi">
        <div class="card-content">
            <h2 class="h2">Promozione della salute e dello stress nei luoghi di lavoro</h2>
            <h4 class="padding">Gruppi rivolti ad aziende interessate al tema della prevenzione dei rischi dello "stress
                lavoro correlato" e che vogliano promuovere comportamenti sicuri e consapevoli. Si utilizzano le
                pratiche di consapevolezza corporea, emotiva e psicologica previste dal "Progetto Gaia-Ergon",
                finalizzato a promuovere la salute e sicurezza sui luoghi di lavoro attraverso la riduzione dei rischi e
                il miglioramento delle condizioni di lavoro, in modo coerente con la normativa vigente in materia di
                salute e sicurezza sul lavoro (Dlgs 81 e s.m.). Il protocollo è stato candidato come buona prassi alla
                Campagna europea 2020-2022: “Ambienti di lavoro sani e sicuri. Alleggeriamo il carico!” (focal point
                italiano INAIL).
            </h4>
        </div>
    </div>
</div>

<div>
    <div class="inserto3" id="servizi-gruppo">
        <h2 class="inserto4">Valutazioni psicodiagnostiche e riabilitazione neurocognitiva</h2>
        <img src="assets/foresta.webp" alt="Menu Icona" id="log">
    </div>
</div>