

  <div class="contatti-container">
    <h2>Contatti</h2>
    <p>Per qualsiasi domanda o richiesta, non esitare a contattarci.</p>
    
    <!-- Includi qui la mappa di Google -->
    <div id="map" class="google-map">  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.3228890888986!2d17.9650198!3d40.3351827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13469d0cc098e511%3A0x2f14086a218d9ab1!2sPsicologa%20-%20Ilaria%20Carlino!5e0!3m2!1sit!2sit!4v1707394120388!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  
    <!-- Informazioni di contatto -->
    <div class="info">
      <p><strong>Studio:</strong> Via del Corso, 2 - Veglie, Italia</p>
      <p><strong>Telefono:</strong> +39 335 77 76 306</p>
      <p><strong>Email:</strong> Ilariacarlinopsicologa&#64;gmail.com</p>
    </div>
</div>
<div class="info2">
<img src="assets/linkedin.webp" alt="Collegamento esterno su LinkedIn">
<img src="assets/facebook.webp" alt="Collegamento esterno su LinkedIn">
<img src="assets/instagram.webp" alt="Collegamento esterno su LinkedIn">
<img src="assets/whatapp.webp" alt="Collegamento esterno su LinkedIn">
</div>